.cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cartTitle{
    text-align: center;
    margin-top: 2rem;
}
.cartItem{
    width: 500px;
    height: 200px;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    padding: 20px;
    cursor: pointer;
    background-color: white;
}
.cartItem img{
    width: 150px;
   margin-right: 2rem;
}
.description b{
    font-size: 20px;
}
.description .price{
    font-size: 20px;
    margin-top: 8px;
}
.countHandler{
    margin-top: 13px;
}
.countHandler input{
    width: 50px;
    margin: 0px 5px;
    outline: none;
    padding: 1px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.countHandler button{
    padding: 3px 6px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #FFBF00;
    font-weight: 700;
}
.btnContainer button{
    padding: 12px 15px;
    border-radius: 10px;
    background-color: black;
    color: white;
    border: none;
    outline: none;
    margin-right: 2rem;
    cursor: pointer;
    margin-top: 15px;
}
.checkout{
    margin: 1rem 0;
}
.total{
    font-size: 1.5rem;
}
.empty{
    margin-top: 10rem;
}